{% extends 'base.html.twig' %}
{% block content %}
 <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <!-- /.card -->

            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3 class="card-title">Liste des contacts par categorie</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
       
     
        <th>Nom </th>
        <th>Prénom</th>
         <th>Email</th>
         <th>Téléphone</th>
            <th>Code categorie</th>
            <th>Nom categorie</th>
       
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
                <tr> 
                    <td>{{ contact.getNom() }}</td>
                    <td>{{ contact.getPrenom() }}</td>
                      <td>{{ contact.getEmail() }}</td>
                        <td>{{ contact.getNumeroTel() }}</td>
                 
                
                 </tr>
                  
                  
                  
            {% endfor %}
    </tbody>

  </table>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
{% endblock %}